# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf #serve para quebra de linha no linux
charset = utf-8
trim_trailing_whitespace = true #serve para não remover espaços em branco
insert_final_newline = true #serve para adicionar uma nova linha no final do arquivo
